$active-color: darken($blue, 5%)
$field-height: 50px

.stage-setup
  background: $white
  overflow-y: auto

  // room for the start button, which is fixed to the bottom
  padding-bottom: 60px

  &-form
    width: 100%
    padding: 6%

  &-title
    width: 100%
    text-align: center
    font-size: 36px
    letter-spacing: 1px
    color: $pink

  &-title,
  fieldset
    margin-bottom: 18px

  fieldset
    font-size: 17px
    font-weight: 500

  .label-help
    font-weight: normal
    color: lighten($dark-blue, 15%)

  .taptime
    position: relative
    width: 100%
    height: $field-height
    margin-top: 6px
    border: 1px solid $blue
    border-radius: 4px

    &-button,
    &-input
      @include bare-button
      height: 100%
      font-size: 28px

    &-button
      position: absolute
      top: 0
      width: 17%
      background: $blue
      color: $white

      &:active
        background: $active-color

      &-text
        position: relative
        bottom: 2px

      &--decrement
        left: 0

      &--increment
        right: 0

    &-input
      width: 100%
      border: none
      outline: none
      text-align: center
      background: #fff

#start
  @include bare-button
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  height: 75px
  background: $blue
  color: $white
  font-size: 30px
  letter-spacing: 0.1em

  &:active
    background: $active-color
