.stage-play
  background: palegoldenrod

// tapping anywhere should stop once we're rolling
#stop
  @include bare-button
  @include fullscreen

#time
  font-family: monospace

.card
  margin-top: 40px
  width: 200px
  padding: 40px
  border: 1px solid green
