@import url(reset.css);
* {
  box-sizing: border-box; }

body {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: lightgray;
  font-family: Helvetica Nueue, Helvetica, Arial, sans-serif;
  font-size: 40px; }

.stage {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 250ms linear;
  -moz-transition: opacity 250ms linear;
  transition: opacity 250ms linear; }
  .stage--active {
    z-index: 2;
    opacity: 1; }

.stage-setup {
  background: aliceblue; }
  .stage-setup h1,
  .stage-setup p {
    width: 100%;
    padding: 6%;
    padding-bottom: 0; }
  .stage-setup h1 {
    font-size: 10vw;
    font-weight: 100;
    letter-spacing: 1px; }
  .stage-setup p {
    font-size: 5vw;
    line-height: 7vw; }

#start {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background: lightgreen;
  color: white; }

.stage-play {
  background: palegoldenrod; }

#stop {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

#time {
  font-family: monospace; }

.card {
  position: absolute;
  width: 94%;
  height: 80%;
  top: 10%;
  left: 3%;
  padding: 40px;
  border-radius: 4px;
  background: lightgray;
  -webkit-transition: -webkit-transform 200ms ease-in;
  -moz-transition: -moz-transform 200ms ease-in;
  transition: transform 200ms ease-in; }
  .card--is-leaving-0 {
    -webkit-transform: rotate(-5deg) translateY(130%);
    -moz-transform: rotate(-5deg) translateY(130%);
    -ms-transform: rotate(-5deg) translateY(130%);
    -o-transform: rotate(-5deg) translateY(130%);
    transform: rotate(-5deg) translateY(130%); }
  .card--is-leaving-1 {
    -webkit-transform: rotate(-4deg) translateY(130%);
    -moz-transform: rotate(-4deg) translateY(130%);
    -ms-transform: rotate(-4deg) translateY(130%);
    -o-transform: rotate(-4deg) translateY(130%);
    transform: rotate(-4deg) translateY(130%); }
  .card--is-leaving-2 {
    -webkit-transform: rotate(-3deg) translateY(130%);
    -moz-transform: rotate(-3deg) translateY(130%);
    -ms-transform: rotate(-3deg) translateY(130%);
    -o-transform: rotate(-3deg) translateY(130%);
    transform: rotate(-3deg) translateY(130%); }
  .card--is-leaving-3 {
    -webkit-transform: rotate(-2deg) translateY(130%);
    -moz-transform: rotate(-2deg) translateY(130%);
    -ms-transform: rotate(-2deg) translateY(130%);
    -o-transform: rotate(-2deg) translateY(130%);
    transform: rotate(-2deg) translateY(130%); }
  .card--is-leaving-4 {
    -webkit-transform: rotate(-1deg) translateY(130%);
    -moz-transform: rotate(-1deg) translateY(130%);
    -ms-transform: rotate(-1deg) translateY(130%);
    -o-transform: rotate(-1deg) translateY(130%);
    transform: rotate(-1deg) translateY(130%); }
  .card--is-leaving-5 {
    -webkit-transform: rotate(0deg) translateY(130%);
    -moz-transform: rotate(0deg) translateY(130%);
    -ms-transform: rotate(0deg) translateY(130%);
    -o-transform: rotate(0deg) translateY(130%);
    transform: rotate(0deg) translateY(130%); }
  .card--is-leaving-6 {
    -webkit-transform: rotate(1deg) translateY(130%);
    -moz-transform: rotate(1deg) translateY(130%);
    -ms-transform: rotate(1deg) translateY(130%);
    -o-transform: rotate(1deg) translateY(130%);
    transform: rotate(1deg) translateY(130%); }
  .card--is-leaving-7 {
    -webkit-transform: rotate(2deg) translateY(130%);
    -moz-transform: rotate(2deg) translateY(130%);
    -ms-transform: rotate(2deg) translateY(130%);
    -o-transform: rotate(2deg) translateY(130%);
    transform: rotate(2deg) translateY(130%); }
  .card--is-leaving-8 {
    -webkit-transform: rotate(3deg) translateY(130%);
    -moz-transform: rotate(3deg) translateY(130%);
    -ms-transform: rotate(3deg) translateY(130%);
    -o-transform: rotate(3deg) translateY(130%);
    transform: rotate(3deg) translateY(130%); }
  .card--is-leaving-9 {
    -webkit-transform: rotate(4deg) translateY(130%);
    -moz-transform: rotate(4deg) translateY(130%);
    -ms-transform: rotate(4deg) translateY(130%);
    -o-transform: rotate(4deg) translateY(130%);
    transform: rotate(4deg) translateY(130%); }
  .card--is-leaving-10 {
    -webkit-transform: rotate(5deg) translateY(130%);
    -moz-transform: rotate(5deg) translateY(130%);
    -ms-transform: rotate(5deg) translateY(130%);
    -o-transform: rotate(5deg) translateY(130%);
    transform: rotate(5deg) translateY(130%); }
  .card--hang {
    background: orange; }
  .card--rest {
    background: pink; }
  .card-status, .card-time, .card-rep {
    display: block;
    width: 100%;
    text-align: center; }
  .card-status {
    font-size: 5vw; }
  .card-time {
    font-family: monospace; }
  .card-rep {
    position: absolute;
    padding: 20px;
    left: 0;
    bottom: 0;
    font-size: 4vw;
    text-align: right; }
