@import url(reset.css);
* {
  box-sizing: border-box; }

body {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fffff5;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 40px;
  color: #34314c; }

.stage {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 250ms linear;
  -moz-transition: opacity 250ms linear;
  transition: opacity 250ms linear; }
  .stage--active {
    z-index: 2;
    opacity: 1; }

.stage-setup {
  background: #fffff5; }
  .stage-setup-form {
    width: 100%;
    padding: 6%; }
  .stage-setup h1 {
    font-size: 10vw;
    font-weight: 100;
    padding-bottom: 6vw;
    letter-spacing: 1px; }
  .stage-setup fieldset {
    margin-bottom: 6vw;
    font-size: 5vw;
    line-height: 7vw;
    font-weight: 500; }
  .stage-setup .label-help {
    font-weight: normal;
    color: #544f7b; }
  .stage-setup .taptime {
    width: 100%;
    height: 46px;
    margin-top: 6px;
    border: 1px solid #47b8e0;
    border-radius: 4px; }
    .stage-setup .taptime-button, .stage-setup .taptime-input {
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      outline: none;
      float: left;
      height: 100%;
      font-size: 8vw; }
    .stage-setup .taptime-button {
      width: 17%;
      background: #47b8e0;
      color: #fffff5; }
      .stage-setup .taptime-button:active {
        background: #31b0dc; }
    .stage-setup .taptime-input {
      width: 66%;
      border: none;
      outline: none;
      text-align: center;
      background: #fff; }

#start {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background: #47b8e0;
  color: #fffff5;
  font-size: 10vw;
  letter-spacing: 0.1em; }
  #start:active {
    background: #31b0dc; }

.stage-play {
  background: #fffff5; }

#stop {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

#time {
  font-family: monospace; }

.card {
  position: absolute;
  width: 94%;
  height: 96%;
  top: 2%;
  left: 3%;
  padding: 40px;
  border-radius: 4px;
  background: #a3dceb;
  -webkit-transition: -webkit-transform 400ms ease-in;
  -moz-transition: -moz-transform 400ms ease-in;
  transition: transform 400ms ease-in;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05); }
  .card--is-leaving-0 {
    -webkit-transform: rotate(-5deg) translateY(130%);
    -moz-transform: rotate(-5deg) translateY(130%);
    -ms-transform: rotate(-5deg) translateY(130%);
    -o-transform: rotate(-5deg) translateY(130%);
    transform: rotate(-5deg) translateY(130%); }
  .card--is-leaving-1 {
    -webkit-transform: rotate(-4deg) translateY(130%);
    -moz-transform: rotate(-4deg) translateY(130%);
    -ms-transform: rotate(-4deg) translateY(130%);
    -o-transform: rotate(-4deg) translateY(130%);
    transform: rotate(-4deg) translateY(130%); }
  .card--is-leaving-2 {
    -webkit-transform: rotate(-3deg) translateY(130%);
    -moz-transform: rotate(-3deg) translateY(130%);
    -ms-transform: rotate(-3deg) translateY(130%);
    -o-transform: rotate(-3deg) translateY(130%);
    transform: rotate(-3deg) translateY(130%); }
  .card--is-leaving-3 {
    -webkit-transform: rotate(-2deg) translateY(130%);
    -moz-transform: rotate(-2deg) translateY(130%);
    -ms-transform: rotate(-2deg) translateY(130%);
    -o-transform: rotate(-2deg) translateY(130%);
    transform: rotate(-2deg) translateY(130%); }
  .card--is-leaving-4 {
    -webkit-transform: rotate(-1deg) translateY(130%);
    -moz-transform: rotate(-1deg) translateY(130%);
    -ms-transform: rotate(-1deg) translateY(130%);
    -o-transform: rotate(-1deg) translateY(130%);
    transform: rotate(-1deg) translateY(130%); }
  .card--is-leaving-5 {
    -webkit-transform: rotate(0deg) translateY(130%);
    -moz-transform: rotate(0deg) translateY(130%);
    -ms-transform: rotate(0deg) translateY(130%);
    -o-transform: rotate(0deg) translateY(130%);
    transform: rotate(0deg) translateY(130%); }
  .card--is-leaving-6 {
    -webkit-transform: rotate(1deg) translateY(130%);
    -moz-transform: rotate(1deg) translateY(130%);
    -ms-transform: rotate(1deg) translateY(130%);
    -o-transform: rotate(1deg) translateY(130%);
    transform: rotate(1deg) translateY(130%); }
  .card--is-leaving-7 {
    -webkit-transform: rotate(2deg) translateY(130%);
    -moz-transform: rotate(2deg) translateY(130%);
    -ms-transform: rotate(2deg) translateY(130%);
    -o-transform: rotate(2deg) translateY(130%);
    transform: rotate(2deg) translateY(130%); }
  .card--is-leaving-8 {
    -webkit-transform: rotate(3deg) translateY(130%);
    -moz-transform: rotate(3deg) translateY(130%);
    -ms-transform: rotate(3deg) translateY(130%);
    -o-transform: rotate(3deg) translateY(130%);
    transform: rotate(3deg) translateY(130%); }
  .card--is-leaving-9 {
    -webkit-transform: rotate(4deg) translateY(130%);
    -moz-transform: rotate(4deg) translateY(130%);
    -ms-transform: rotate(4deg) translateY(130%);
    -o-transform: rotate(4deg) translateY(130%);
    transform: rotate(4deg) translateY(130%); }
  .card--is-leaving-10 {
    -webkit-transform: rotate(5deg) translateY(130%);
    -moz-transform: rotate(5deg) translateY(130%);
    -ms-transform: rotate(5deg) translateY(130%);
    -o-transform: rotate(5deg) translateY(130%);
    transform: rotate(5deg) translateY(130%); }
  .card--hang {
    background: #ffc952; }
  .card--rest {
    background: #ff7473; }
  .card-status, .card-time, .card-rep {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 7vw; }
  .card-time {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: monospace;
    font-size: 17vw; }
  .card-rep {
    position: absolute;
    padding: 20px;
    left: 0;
    bottom: 0;
    text-align: right; }
  .card .colon {
    position: relative;
    bottom: 7px;
    font-size: 70%; }
